@{
    ViewBag.Title = "Home Page";
}
@using QuizManager.Models
@model QuizViewModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>All Quizes</h2>
            <p>
                Here you can search for and view all available quizes
            </p>
            <br />
        </div>
        <div class="col-md-6 searchForm">
            @using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <p class="col-md-4 control-label">Search for Quiz by Title</p>
                    <div class="col-md-4">
                        @Html.TextBoxFor(m => m.SearchByQuizTitle, new { @class = "form-control" })
                    </div>
                    <div class=" col-md-4">
                        <input type="submit" class="btn btn-default" value="Search" />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            <strong>
                                Title
                            </strong>
                        </td>
                        <td>
                            <strong>
                                Author
                            </strong>
                        </td>
                        <td>
                            <strong>
                                Description
                            </strong>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.ListOfAllQuizes)
                    {

                        <tr>
                            <td>@Html.RouteLink(item.Title, new { action = "Index", controller = "Quiz", QuizName = item.Title }) </td>
                            <td>By @item.Author</td>
                            <td>@item.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>